<style>
.card-block p { line-height: 1.95rem; font-size: 1.4rem; }
.card-footer span { font-size: 1rem; color: #707070; cursor: pointer; }
</style>
<div>
    <div class="card-header">
        <h1 class="card-title" style="margin-top:1.1rem;text-align:center;font-size: 1.8rem;">第一封</h1>
        <div class="card-subtitle" style="margin-top:1rem"></div>
    </div>
    <div class="card-block">
        <p>&emsp;&emsp;人海茫茫，似交错的列车，在这之际，不经意间与你相遇了。正如张爱玲曾经说过的一句话：于千人万人中，于千年万年之中，没有早一刻，也没有晚一刻，彼此相遇。

            自从在茫茫的网海中与你相识，你的名字就早已镌刻在我的心里，不知何时起，你在我的脑海里闪耀，挥之不去，抹之不掉，让我惊叹你为何不知疲倦。</p>

        <p>&emsp;&emsp;孤单的晚灯，是那伤感的记忆，心里泛起无数的思念，是夜的精灵，让我们相聚于网络，将彼此的心灵交付，就这样搭起了一根情缘之线，从此走近彼此的心灵；是夜的精灵，将千年情思，悄悄送给我，也送给你，让我们彼此的心灵都飘落在对方的心头。

                可是，又是在这相思的夜晚没有你。</p>

        <p>&emsp;&emsp; 想起夜晚在电脑屏前等你上线，心里觉得特别温暖，我们细叙人生的感悟，互说生活的磨难和情感的体验，心与心得交流就在指尖，习惯于上线，习惯于看见你熟悉的头像频频闪耀，习惯于手指的力量在键盘上敲打的快感。

            我们总是相聚太短，期待太长，想你每晚泪成行。</p>

        <p>&emsp;&emsp;和你聊天那是我网络生涯中最快乐的时光，也是最令我难忘的，你发给我的每条消息，都使我感到开心和欣慰。</p>

        <p>&emsp;&emsp;对于我们的相遇，已经不记得当初的点滴，只知道因为真诚和默契，因为灵犀相通，我们成了无话不谈的知己。</p>

        <p>&emsp;&emsp;相识是缘分，正是缘分使我们相识在这个时空，让我们能用心去彼此感受这份一生难求的缘，也许我们只是茫茫黑夜中擦弦而过的船，能在瞬间照亮彼此的心灵，给对方以温暖，已经足够了，还何必奢求更多？

            当无眠晚风轻拂的时候，你是否心尖会有一丝颤动，我总是忍不住想你，辗转反侧想的都是你。</p>

        <p>&emsp;&emsp;我想知道当你走进甜美的梦乡，是否看到我在梦的路口等你？我在梦里属于你，有情也有意，无奈醒来就要各奔东西。</p>

        <p>&emsp;&emsp; 在这漫漫长夜里，想你，想你……正是：想你的夜晚没有你。</p>
    </div>
        <div id="today" hidden></div>
    </div>
</div>